* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	text-align: center;
  background-color: #424242;
}

.container {
	background-color: #707070;
  -webkit-border-radius: 20px;
  border-radius: 20px;
	margin: 50px auto 0 auto;
	padding: 10px 0;
	max-width: 500px;
  height: auto;
	color: #FFF;
	-webkit-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.75);
}

.row {
	margin: 0 0 7px 0;
	font-size: 30px;
}

.current-date {
	font-size: 15px;
	font-weight: 400;
}

.icon {
	width: 60px;
}

span {
	font-size: 40px;
	font-weight: 700;
}

.toggle {
	color: #0107FF;
	cursor: pointer;
}

.toggle:focus {
	outline:0;
}

.five-day-forecast {
  margin: 25px 0 0 0;
  width: 100%;
}

.forecast-title {
  margin: 0 0 15px 0;
}

.day-container {
  width: 19%;
  display: inline-block;
}

.credit {
	position: relative;
	top: 20px;
	color: #fff;
}

.darksky-link {
	text-decoration: none;
	color: #2BCCF4;
}