* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	text-align: center;
	background-image: url("../img/weather.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

header {
	background: rgba(0, 0, 0, 0.4);
	color: #EA1419;
	max-width: 350px;
	padding: 17px 0;
	margin: 30px auto;
}

.container {
	background: rgba(255, 255, 255 , 0.6);
	margin: 0 auto;
	padding: 30px 80px;
	max-width: 500px;
	color: #5C45C5;
	-webkit-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.75);
}

.row {
	margin: 0 0 20px 0;
	font-size: 26px;
}

h2 {
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	border-bottom: 1px solid #5C45C5;;
}

.degree-icon {
	font-size: 26px;
	position: relative;
	top: -1px;
}

.wi {
	font-size: 40px;
	margin: 20px 0 0 0;
}

.toggle {
	background-color: #555555;
	color: #fff;
	width: 175px;
	border: none;
	padding: 14px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
}

.toggle:focus {
	outline:0;
}

.credit {
	position: relative;
	top: 20px;
}